@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Reset CSS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 100%;
    font: inherit;
}

html {
    color: white;
    font-size: 10px;
}

body{
    background-image: url(../src/images/backgroundimage_coins_2.jpg);
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 1024px;
    margin: auto;
    height: 100vh;
}

/* Primeira seção contento somente a aplicação do simulador */
#aplicacao {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Cabeçalho da aplicação*/
#aplicacao header {
    font-family: 'Poppins', Tahoma, sans-serif;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.6);
    margin-top: 50px;
    margin-bottom: 25px;
    max-width: 80%;
}
#aplicacao header h1 {
    font-size: 3.5em;
    font-weight: 600;
    text-align: center;
}
#aplicacao header h2 {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}
/* Container geral da entrada de dados */
#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-family: 'Poppins';
}

/* Área dos label's e input's */
#entradaDados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
/* Container com um par label + input */
.dados {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 49%;
}
/* Estilizando apenas os label's */
.dados label {
    font-size: 1.5em;
    text-shadow: 1px 1.5px black;
}
/* Estilizando apenas os input's */
.dados input {
    border: solid grey 1px;
    border-radius: 3px;
    box-shadow: 3px 2px grey;
    padding: 15px 10px;
    font-size: 1.3em;
}
.dados input::placeholder {
    font-style: italic;
    font-size: 1.1em;
}

/* Área onde se escolhe a carência e calcula os dados */
#carencia{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
    margin-bottom: 20px;
}
#carencia div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 1.3em;
    text-shadow: 1px 1.5px black;
}
#listaCarencia {
    visibility: hidden;
    width: 49%;
    border: solid grey 1px;
    border-radius: 3px;
    box-shadow: 2px 1px grey;
    font-size: 1.2em;
}

/* Estilza os botões de Simulação e Nova Simulação */
.cta {
    font-family: 'Poppins';
    font-size: 2.5em;
    font-weight: 600;
    color: white;
    text-shadow: 2px 1px grey;
    min-width: 75%;
    margin: auto;
    border: solid grey 1px;
    border-radius: 5px;
    box-shadow: 3px 2px grey;
    background-color: #e9c46a;
    padding: 5px auto;
}

/* Segunda seção contento os resultados da simulação */
#resultados {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
/* Tabela de resultados */
#tabelaCompleta, thead {
    border: 1px solid white;
    border-collapse: collapse;
    min-width: 75%;
}
#tabelaCompleta th, td {
    padding: 5px 35px;
    font-family: 'Oswald';
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: 1px 1px rgb(100, 100, 100);
}
#tabelaCompleta th {    
    background-color: rgba(128, 128, 128);
}
#tabelaCompleta tr:nth-child(odd){
    background-color:  rgba(237, 237, 237, 0.9);
}
#tabelaCompleta tr:nth-child(even){
    background-color: rgba(225, 225, 225, 0.8);
}
#btnNovaSimulacao {
    margin: 50px 0px;
}

/* MEDIA QUERY - RESPONSIVIDADE DE TELAS*/
@media only screen and (max-width: 1023px){
    html{
        font-size: 8px;
    }
    #mainContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #entradaDados {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .dados {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        width: 100%;
    }
    #carencia{
        justify-content: center;
        align-items: center;
    }
    #listaCarencia{
        width: 45%;
        margin-left: 5px;
    }
    #tabelaCompleta {
        padding: auto auto;
        min-width: 80%;
    }
}